.Section9{
	padding-bottom: 40px;
}
.topsection h5{
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 24px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: normal;

	/* Color & Background */
	background-attachment: scroll;
	background-repeat: repeat;
	color: rgb(17, 17, 17);

	/* Box */
	height: 24px;
	width: 139px;
	margin: 84px 1190.6px 0px 189.6px;

	/* Positioning */
	position: relative;

	/* List */

	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	caption-side: top;
	empty-cells: show;

	/* Miscellaneous */
	overflow: visible;
	visibility: visible;
	text-overflow: clip;
	word-wrap: break-word;

}    
.topsection h1{
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 66px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	word-spacing: 0px;
	/* Box */
	height: 132px;
	width: 886px;
	margin: 8px 443.6px 0px 189.6px;
	/* Positioning */
	position: relative;
	display: block;
	
}
.thm-btn9 {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  border-radius: 30px;
  padding: 12px 30px 12px;
  transition: all 400ms ease;
  text-decoration: none;
}
.bgclr-9 {
  background: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 22.4px;
  height: 32.2px;
  width: 121.35px;
  border: 2px solid  #F86449;
  margin: 30px 1128px 0 190px;
  padding: 17px 47px 18px 46px;
}
.thm-btn9:hover {
  background: #F86449;
  color: white;
  
}
.botsection{
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 25.6px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: start;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(41, 45, 51);
	background-image: none;
	
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 803px;
	width: 1210.6px;
	
	margin: 71px 0px 0px 308.6px;
	
	/* Positioning */
	position: relative;
	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	
	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;
}
.c-layout-row {
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 25.6px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(17, 17, 17);

	/* Box */
	height: 723.4px;
	width: 1140px;
	border: 0px none rgb(17, 17, 17);
	border-top: 0px none rgb(17, 17, 17);
	border-right: 0px none rgb(17, 17, 17);
	border-bottom: 0px none rgb(17, 17, 17);
	border-left: 0px none rgb(17, 17, 17);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: fit-content;
	max-width: 100%;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-container-layout-1 {
	

	/* Box */
	height: 723.4px;
	width: 456px;

	/* Positioning */
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index:auto;
	
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.c-container-layout-2 {
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 25.6px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 723.4px;
	width: 684px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 0px;
	padding: 30px;
	max-height: none;
	min-height: auto;
	max-width: 100%;
	min-width: auto;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-container-layout-3 {
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 25.6px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 311.8px;
	width: 282.55px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 0px;
	padding: 16px 30px;
	max-height: none;
	min-height: auto;
	max-width: 100%;
	min-width: auto;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-repeater-1{
font-size: 1rem;
line-height: 1.6;
font-family: 'Open Sans',sans-serif;
color: #ffffff;
text-align: left;
box-sizing: border-box;
display: grid;
grid-template-columns: repeat(2, 50%);
grid-gap: 0px;
min-height: 477px;
flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
}
.c-image-1{
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    
    box-sizing: border-box;
    object-fit: cover;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
    animation-fill-mode: both;
    border-radius: 25px !important;
    color: #111111;
    flex: 0 0 40%;
    max-width: 40%;
    min-width: 40%;
    text-align: left;
    background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/017acdf02e205d229cb7d698/ssd.jpg");
    background-position: 50% 50%;
    min-height: 580px;
    overflow: visible;
    will-change: transform, opacity;
    animation-duration: 1500ms;
}

.c-layout{
	position: absolute;
	right: 195px;
	top: 55px;
    font-size: 1rem;
    line-height: 1.6;
    
    font-family: 'Open Sans',sans-serif;
    color: #111111;
    box-sizing: border-box;

}
.c-text-4 {
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 28.8px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 28.8px;
	width: 94.325px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 24px 128.225px 0px 0px;
	padding: 0px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.c-text-5 {
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 36px;
	text-decoration: none solid rgb(133, 142, 153);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(133, 142, 153);

	/* Box */
	height: 144px;
	width: 221.55px;
	border: 0px none rgb(133, 142, 153);
	border-top: 0px none rgb(133, 142, 153);
	border-right: 0px none rgb(133, 142, 153);
	border-bottom: 0px none rgb(133, 142, 153);
	border-left: 0px none rgb(133, 142, 153);
	margin: 20px 1px 0px 0px;
	padding: 0px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-list-icon {
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 36px;
	text-decoration: none solid rgb(133, 142, 153);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(133, 142, 153);

	/* Box */
	height: 36px;
	width: 18px;
	border: 0px none rgb(133, 142, 153);
	border-top: 0px none rgb(133, 142, 153);
	border-right: 0px none rgb(133, 142, 153);
	border-bottom: 0px none rgb(133, 142, 153);
	border-left: 0px none rgb(133, 142, 153);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 18px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 205.35px;
	left: -21.6px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-svg-content {
	
	/* Font & Text */
	font-family: "Open Sans", sans-serif;
	font-size: 14.4px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 12.96px;
	text-decoration: none solid rgb(133, 142, 153);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(133, 142, 153);

	/* Box */
	height: 14.4px;
	width: 14.4px;
	border: 0px none rgb(133, 142, 153);
	border-top: 0px none rgb(133, 142, 153);
	border-right: 0px none rgb(133, 142, 153);
	border-bottom: 0px none rgb(133, 142, 153);
	border-left: 0px none rgb(133, 142, 153);
	margin: -11.52px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-icon-1{

font-size: 1rem;
font-family: 'Open Sans',sans-serif;
text-align: left;
box-sizing: border-box;
position: relative;
flex-shrink: 0;
fill: #ffffff;
display: block;
line-height: 0;
border-width: 0px;
border-radius: 50%;
width: 56px;
height: 27px;
color: rgb(255, 255, 255) !important;
margin: 0 auto 0 0;
}


.u-list-item-1{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
}
.c-text-6 {
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 28.8px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 28.8px;
	width: 215.4px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 24px 7.15px 0px 0px;
	padding: 0px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;

	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.c-text-7 {
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 28.8px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 57.6px;
	width: 222.55px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 24px 0px 0px;
	padding: 0px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.c-text-8 {
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 28.8px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 28.8px;
	width: 184.325px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 24px 128.225px 0px 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}